@import url("https://fonts.googleapis.com/css2?family=Yuji+Mai&display=swap");
:root {
  margin: 0%;
  padding: 0%;
  --elfFont: "Yuji Mai";
}

.body {
  /*probar un color mas claro que  */
  background: linear-gradient(100deg, #7fc9f7 20%, #f5e1cf);
}

#header {
  background: #b88a5f;
  opacity: 25;
}
.nav-item:hover a {
  padding: 0 0.2vw 0vw 0;
  color: #7fc9f7;
}
#title {
  font-family: var(--elfFont), serif;
  /*text-align: center;*/
}
#subtitle {
  font-family: var(--elfFont), serif;
}

.navbar {
  font-family: var(--elfFont), serif;
}
.logo:hover {
  /*padding: 0.1vw 0.1vw 0.1vw 0.1vw;*/
  padding: 0 0vw 0vw 0.6vw;
  /*background-color: black;*/
}
.img {
  margin: auto;
}
.inputs:hover{

  background: #0D6EFD;
  opacity:60%;
  color:#f5e1cf;

  
  
}
/*
h1 {
  
  font-size: 8vw;
}
h2 {
  font-size: 3vw;
}*/
/*
#navbar {
  width: 50%;
  margin: auto;
  text-align: center;
  font-size: 2.1vw;
  padding: 0.5vw;
}
#navbar a {
  text-decoration: none;
  color: black;
}
#navbar a:hover {
  background-color: aqua;
  padding: 0 1.5vw 0 0vw;
  border-radius: 2vw;
}
#navbar a:focus {
  background-color: #db8636;
  padding: 0 1.5vw 0 0vw;
  border-radius: 2vw;
}
#about {
  padding-top: 1vw;
}

#img {
  margin: auto;
  border-radius: 1vw;
}
*/
